/* --- Section Categories Detail --- */
.categories-detail {
  padding: 60px 40px;
  background-color: #ffffff;
}

.grille-categories-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.categorie-card {
  width: 30%;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 15px #cccccc;
}

.categorie-card:hover {
  box-shadow: 0 10px 30px #999999;
}

.categorie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.categorie-card h3 {
  padding: 20px 20px 10px;
  font-size: 20px;
  color: #1a00e0;
}

.categorie-card p {
  padding: 0 20px 20px;
  color: #454557;
  font-size: 14px;
}

.bouton-categorie {
  display: block;
  margin: 0 20px 20px;
  padding: 10px 20px;
  background-color: #ffdf9e;
  color: #574000;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.bouton-categorie:hover {
  background-color: #ffd070;
}