/* --- Commande --- */
.commande-flex {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.commande-form {
  flex: 2;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #cccccc;
}

.commande-form h2 {
  margin-bottom: 20px;
  color: #1a00e0;
}

.commande-resume {
  flex: 1;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  height: fit-content;
  box-shadow: 0 4px 15px #cccccc;
}

.commande-resume h2 {
  margin-bottom: 20px;
  color: #0d1d2b;
}
